@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11998e;
  font-family: 'Noto Sans JP', sans-serif;
}

.main {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.todo {
  width: 750px;
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.2)
}

.todo p {
  font-size: 19px;
  padding: 10px 8px;
  border-radius: 2px;
  background-color: #fff1e6;
  width: 100%;
  border-bottom: 0.5px solid #cad2c5;
}

.form {
  padding: 15px 0 0;
  margin-bottom: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  background: transparent;
  padding: 7px 0;
}

::placeholder {
  color: #fff;
}

.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}